<h2>%title%</h2>

<form id="%id%_form" onsubmit="return %top%.%id%.login.enter(this)" method="post">
	<p>%string:user% : <input type="text" name="user" class="%system%_flat %id%_enter" /></p>
	<p>%string:pass% : <input type="password" name="pass" class="%system%_flat %id%_enter" /></p>

	<p><label for="%id%_session"%tip:session%>
		<input type="checkbox" name="keep" id="%id%_session" /> %string:session%
	</label></p>

	<p><input type="submit" name="send" value="%string:button%" class="%system%_flat %id%_enter" id="%id%_send" /></p>
</form>

<p style="border-top : 1px #333 dotted; padding-top : 10px">
	<a href="%conf:register%" target="_blank"%tip:register%>%string:register%</a>
</p>

<p><a href="%conf:recover%" target="_blank"%tip:recover%>%string:recover%</a></p>
