
	/* Main interface */
	a#%id%_create { border : 1px #333 solid; display : inline-block; width : 150px; text-align : center; background-color : #555; color : #eee; }

	tr#%id%_header { background-color : #ca7; height : 10px; }

	td.%id%_title { font-weight : bold; }

	span.%id%_close { color : #731; font-weight : bold; }

	tr.%id%_active { background-color : #ed9; cursor : pointer; }

	tr.%id%_inactive { font-style : italic; }

	/* New registration */
	td#%system%_%id%_new_body { color : #ddd; }

	table.%id%_info th { text-align : right; border-right : 1px #333 dotted; }

	table.%id%_info td { text-align : left; }
