system/static/conf/app/announce_1.xml
system/static/conf/app/headline_1.xml
system/static/conf/app/login_1.xml
system/static/conf/app/mail_1.xml
system/static/conf/app/system_static.xml
system/static/conf/auth/demo.xml
system/static/conf/cache/file.xml
system/static/conf/database/database.php