
	/* Configuration */
	table#%id%_account th { border : 1px #333 solid; text-align : center; font-weight : bold; padding : 5px; background-color : #da8; }

	td.%id%_conf_row { text-align : right; border-right : 1px #333 dotted; }

	/* Main interface */
	table#%id%_tab { background-color : #dc8; width : 100%; margin-bottom : 10px; }

	table#%id%_tab th { cursor : pointer; border : 1px #333 solid; }

	table#%id%_read_zone { background-color : #fff; empty-cells : show; border-collapse : collapse; width : 100%; }

	tr#%id%_read_header { background-color : #cca; }

	tr.%id%_mail_unread { font-weight : bold; }

	tr.%id%_mail_marked { background-color : #dca; }

	tr.%id%_hover { background-color : #c97; }

	div#%id%_folder { border : 1px #333 solid; overflow : auto; height : 300px; }

	div#%id%_folder a { display : block; background-color : #ddc; border-bottom : 1px #333 solid; padding : 5px; }

	div#%id%_folder a:hover { background-color : #ca8; }

	th.%id%_row_from { width : 200px; }

	th.%id%_row_date { width : 120px; }

	/* Mail window */
	h2.%id%_mail_subject { text-align : center; font-weight : bold; border : 1px #333 solid; padding : 5px; }

	div.%id%_mail_body { word-break : all; overflow : auto; height : 300px; text-align : left; background-color : #eee; color : #333; padding : 10px; }

	form.%id%_mail_action input { width : 95px; border : 1px #333 solid; background-color : #dca; }

	tbody.%id%_mail_header th { font-weight : bold; text-align : right; }

	tbody.%id%_mail_header td { padding-left : 10px; }
