
	table#%id% h2 { border-bottom : 1px #333 dotted; }

	div#%id%_result h3 { text-align : center; margin : 0px; border : 1px #333 solid; background-color : #abc; }

	div#%id%_result ul { margin : 10px; padding : 10px; }

	div#%id%_result li { margin : 5px 10px; }

	p#%id%_alert { text-align : center; font-style : italic; }

	span.%id%_date { font-size : 90%; }

	p.%id%_paging { text-align : center; }
