<table class="%system%_full"><tbody>
	<tr><td style="height : 5%">
		<table style="width : 100%; border : 1px #ccc inset" cellpadding="0" cellspacing="0"><tbody>
			<tr id="%id%_display">
				<td id="%id%_mode" style="text-align : left"></td>
				<td id="%id%_result" style="text-align : right"%lock%>0</td>
			</tr>
		</tbody></table>
	</td></tr>

	<tr><td style="height : 95%">
		<table id="%id%_calculator" class="%system%_full" cellpadding="0" cellspacing="0"><tbody>
			<tr>
				<td%lock%>7</td><td%lock%>8</td><td%lock%>9</td><td%lock%>/</td>
			</tr>
			<tr>
				<td%lock%>4</td><td%lock%>5</td><td%lock%>6</td><td%lock%>*</td>
			</tr>
			<tr>
				<td%lock%>1</td><td%lock%>2</td><td%lock%>3</td><td%lock%>+</td>
			</tr>
			<tr>
				<td%lock%>0</td><td%lock%>00</td><td%lock%>.</td><td%lock%>-</td>
			</tr>
			<tr style="font-weight : bold">
				<td%lock% style="color : #a72"%tip:clear%>C</td>
				<td%lock% style="color : #555"%tip:delete%>D</td>
				<td%lock% colspan="2">=</td>
			</tr>
		</tbody></table>
	</td></tr>
</tbody></table>
