<table cellpadding="0" cellspacing="5" class="%system%_full"><tbody class="%system%_full">
	<tr style="height : 5%">
		<td colspan="2" style="width : 100%; text-align : left">
			<form style="margin : 5px 0px" onsubmit="%top%.%id%.item.add(this.add); return true"><span%tip:add%>
				%string:new% : <input type="text" name="add" class="%id%_word" />
				<input type="submit" value="%string:add%" class="%id%_check" />
			</span></form>

			<form style="margin : 5px 0px" id="%id%_settings" onsubmit="%top%.%id%.item.get(); return false">
				<div><span%tip:search%>%string:search% : <input type="text" name="search" class="%id%_word" /></span></div>

				<div><span%tip:order%>
					%string:order% :

					<label for="%id%_order_0">
						<input type="radio" name="order" value="0" id="%id%_order_0" onclick="%top%.%id%.item.get()" checked="checked" />
						%string:name%
					</label>

					<label for="%id%_order_1">
						<input type="radio" name="order" value="1" id="%id%_order_1" onclick="%top%.%id%.item.get()" />
						%string:address%
					</label>

					<!--<label for="%id%_order_2">
						<input type="radio" name="order" value="2" id="%id%_order_2" onclick="%top%.%id%.item.get()" />
						%string:type%
					</label>-->

					<label for="%id%_order_3">
						<input type="radio" name="order" value="3" id="%id%_order_3" onclick="%top%.%id%.item.get()" />
						%string:added%
					</label>

					<label for="%id%_order_4">
						<input type="radio" name="order" value="4" id="%id%_order_4" onclick="%top%.%id%.item.get()" />
						%string:viewed%
					</label>
				</span></div>
			</form>
		</td>
	</tr>

	<tr style="height : 5%">
		<td style="width : 40%"><h2>%string:category%</h2></td>
		<td style="width : 60%"><h2>%string:list%</h2></td>
	</tr>

	<tr>
		<td style="height : 90%; vertical-align : top">
			<form id="%id%_selection" style="background-color : #aba"%scroll%>
				<div><input id="%id%_all" type="checkbox" value="" onclick="%top%.%id%.gui.select(this.checked)"%tip:all% /></div>

				<div id="%id%_categories"%scroll%></div>
			</form>
		</td>

		<td style="height : 90%; vertical-align : top">
			<div id="%id%_entries"%scroll%></div>
		</td>
	</tr>
</tbody></table>
