<form id="%id%_compose_%value:index%_form" onsubmit="return false" method="post" action="%value:action%" enctype="multipart/form-data" target="%id%_compose_%value:index%_submit">
	<table style="width : 100%" cellpadding="0" cellspacing="10"><tbody class="%id%_mail_header">
		<tr><th>%string:account%</th><td><select name="account">%value:account%</select></td></tr>

		<tr>
			<th style="width : 15%">%string:subject%</th>
			<td><input type="text" name="subject" style="width : 100%" value="%value:subject%" /></td>
		</tr>

		<tr><th>%string:to%</th><td><input type="text" name="to" style="width : 100%" value="%value:to%" /></td></tr>

		<tr class="%system%_hidden"><th>%string:cc%</th><td><input type="text" name="cc" style="width : 100%" /></td></tr>
		<tr class="%system%_hidden"><th>%string:bcc%</th><td><input type="text" name="bcc" style="width : 100%" /></td></tr>

		<tr>
			<th>%string:attachment%</th>
			<td>
				<img src="%image:add.png%" onclick="%top%.%id%.gui.file()" style="cursor : pointer" class="%system%_icon"%tip:file% />
				<input type="file" name="attachment_0" />
			</td>
		</tr>

		<tr><td colspan="2" class="%id%_mail_action" style="text-align : center">
			<input type="button" onclick="%top%.%id%.gui.send(%value:index%, %value:id%)" value="%string:send%" />
			<input type="button" onclick="%top%.%id%.gui.save(%value:index%, %value:id%)" value="%string:save%" />

			<input type="button" onclick="%top%.%id%.gui.sign(%value:index%)" value="%string:sign%" />
			<input type="button" onclick="%top%.%system%.window.fade('%id%_display_%value:index%', true, null, true)" value="%string:cancel%" style="background-color : #cca" />
		</td></tr>

		<tr><td colspan="2" style="text-align : center">
			<p id="%id%_compose_%value:index%_sending" class="%system%_hidden">%string:sending%</p>
			<textarea name="body" style="width : 100%; height : 300px" onkeyup="%top%.%id%.gui.auto()"></textarea>

			<input type="hidden" name="source" value="%value:id%" />
			<iframe onload="%top%.%id%.gui.complete(%value:index%, this)" class="%system%_hidden" name="%id%_compose_%value:index%_submit"></iframe>
		</td></tr>
	</table>
</form>
