<h2 class="%id%_mail_subject"><span%lock%>%value:subject%</span></h2>

<table style="width : 100%" cellpadding="0" cellspacing="0"><tbody class="%id%_mail_header">
	<tr><th style="width : 25%">%string:from%</th><td>%value:from%</td></tr>
	<tr><th>%string:to%</th><td>%value:to%</td></tr>
	<tr><th>%string:cc%</th><td>%value:cc%</td></tr>
	<tr><th>%string:date%</th><td>%value:sent%</td></tr>
</tbody></table>

<form style="text-align : center; margin : 10px 0px" class="%id%_mail_action">
	<input type="button" onclick="%top%.%id%.gui.reply(%value:index%, ['from'])" value="%string:reply%" />
	<input type="button" onclick="%top%.%id%.gui.reply(%value:index%, ['from', 'cc'])" value="%string:reply_all%" />
	<input type="button" onclick="%top%.%id%.gui.reply(%value:index%)" value="%string:forward%" />
	<input type="button" onclick="%top%.%id%.gui.mark(%value:index%)" value="%string:mark%" />
	<input type="button" onclick="%top%.%id%.gui.remove(%value:index%)" value="%string:delete%" />
	<input type="button" onclick="%top%.%system%.window.fade('%id%_mail_%value:index%', undefined, undefined, true)" value="%string:close%" />
</form>

<div class="%id%_mail_body"%scroll%><table cellpadding="0" cellspacing="0" class="%system%_full"%lock%><tbody><tr>
	<td style="vertical-align : top" id="%id%_mail_%value:index%_body">%string:loading%</td>
</tr></tbody></table></div>
