<p class="%id%_mail_subject"><strong style="color : #fff; font-size : 120%"%lock%>%value:subject%</strong></p>

<table style="width : 100%" cellpadding="0" cellspacing="0"><tbody class="%id%_mail_header">
	<tr><th style="width : 25%">%string:from%</th><td>%value:from%</td></tr>
	<tr><th>%string:to%</th><td>%value:to%</td></tr>
	<tr><th>%string:cc%</th><td>%value:cc%</td></tr>
	<tr><th>%string:date%</th><td>%value:sent%</td></tr>
	<tr><th>%string:attachment%</th><td>%value:attachment%</td></tr>
	<tr>
		<th>%string:mark%</th>
		<td><form>
			<label for="%id%_marker_%value:index%_on">
				<input id="%id%_marker_%value:index%_on" type="radio" name="marked" onclick="%top%.%id%.item.mark([%value:id%], true)"%value:marked% /> %string:on%
			</label>

			<label for="%id%_marker_%value:index%_off">
				<input id="%id%_marker_%value:index%_off" type="radio" name="marked" onclick="%top%.%id%.item.mark([%value:id%], false)"%value:unmarked% /> %string:off%
			</label>
		</form></td>
	</tr>
</tbody></table>

<form style="text-align : center; margin : 10px 0px" class="%id%_mail_action">
	<input type="button" onclick="%top%.%id%.gui.compose(%value:id%, %value:index%, ['from'])" value="%string:reply%" />
	<input type="button" onclick="%top%.%id%.gui.compose(%value:id%, %value:index%, ['from', 'to', 'cc'])" value="%string:reply_all%" />
	<input type="button" onclick="%top%.%id%.gui.compose(%value:id%, %value:index%, [])" value="%string:forward%" />
	<input type="button" onclick="%top%.%id%.item.trash(%value:id%, %value:index%)" value="%string:trash%" style="background-color : #cca" />
	<input type="button" onclick="%top%.%system%.window.fade('%id%_display_%value:index%', true, null, true)" value="%string:close%" style="background-color : #cca" />
</form>

<p class="%id%_mail_subject">
	<a%tip:previous% onclick="%top%.%id%.gui.next(%value:id%, %value:index%, -1)">&lt;&lt; %string:previous%</a>
	<img id="%id%_mail_%value:index%_loading" class="%id%_indicator" style="margin : 0px 10px" src="%image:loading/grey.gif%" />
	<a%tip:next% onclick="%top%.%id%.gui.next(%value:id%, %value:index%, 1)">%string:next% &gt;&gt;</a></p>
</p>

<iframe onload="%top%.%id%.gui.load(%value:id%, %value:index%, %value:reload%, this)" style="width : 100%; height : 330px; background-color : #fff; color : #333; border : 1px #333 solid" src="%value:body%"></iframe>
