<!-- Without the form being 'inline', the textarea cell gets corrupted on Firefox 3.5 and Opera 9 -->
<form onsubmit="%top%.%id%.item.set(this); return false" class="%system%_full" style="display : inline">
	<table cellpadding="5" cellspacing="0" class="%system%_full %id%_info">
		<tbody class="%system%_full">
		<tr>
			<th colspan="2" style="border : none; text-align : center"><h2>%string:edit%</h2></th>
		</tr>

		<tr>
			<th>%string:title%</th>
			<td><input type="text" name="title" value="%value:title%" /></td>
		</tr>

		<tr>
			<th>%string:category%</th>
			<td><select id="%id%_info_category_%value:id%" name="category">%value:category%</select></td>
		</tr>

		<tr>
			<th>%string:due%</th>

			<td>
				<select name="year">
					<option value="">----</option>
					%value:year%</select>
				<select name="month">
					<option value="">--</option>
					%value:month%</select>
				<select name="day">
					<option value="">--</option>
					%value:day%</select>

				<select name="hour">
					<option value="">--</option>
					%value:hour%</select> :
				<select name="minute">
					<option value="">--</option>
					%value:minute%</select>
			</td>
		</tr>

		<tr>
			<th>%string:status%</th>
			<td><select name="status">%value:status%</select></td>
		</tr>

		<tr>
			<th>%string:registered%</th>
			<td>%value:registered%</td>
		</tr>

		<tr>
			<th style="vertical-align : top">%string:content%</th>
			<td>
				<textarea name="content" style="width : 300px; height : 200px">%value:content%</textarea>
			</td>
		</tr>

		<tr>
			<th></th>
			<td style="text-align : center">
				<input type="hidden" name="id" value="%value:id%" />
				<input type="submit" value="%string:set%" />

				<input type="button" value="%string:delete%" onclick="%top%.%id%.item.remove(%value:id%)" />
				<input type="button" value="%string:close%" onclick="%top%.%id%.gui.remove(%value:id%)" />
			</td>
		</tr>
		</tbody>
	</table>
</form>
