<form id="%id%_form_edit" onsubmit="return %top%.%id%.item.set(%value:id%, this)">
	<table class="%id%_info" cellpadding="5" cellspacing="0" style="text-align : left" class="%system%_full"><tbody>
		<tr><td colspan="2" style="text-align : center"><h2>%title% %string:info%</h2></td></tr>

		<tr>
			<th style="width : 40%; border-top : 1px #333 dotted"><strong>%string:name%</strong></th>
			<td style="width : 60%"><input name="name" style="width : 100%" type="text" value="%value:name%" id="%id%_form_name_%value:id%" /></td></tr>
		</tr>

		<tr>
			<th><strong>%string:gender%</strong></th>
			<td>
				<label for="%id%_gender_female_%value:id%">
					<input style="width : auto" id="%id%_gender_female_%value:id%" name="gender" type="radio" value="0" /> %string:female%
				</label>

				<label for="%id%_gender_male_%value:id%">
					<input style="width : auto" id="%id%_gender_male_%value:id%" name="gender" type="radio" value="1" /> %string:male%
				</label>
			</td>
		</tr>

		<tr>
			<th><strong>%string:age%</strong></th>
			<td><input name="age" type="text" value="%value:age%" maxlength="3" style="width : 40px" /></td>
		</tr>

		<tr>
			<th><strong>%string:birthday%</strong></th>
			<td>
				<input name="birth_year" type="text" value="%value:birth_year%" style="width : 50px" maxlength="4"%tip:year% /> /
				<input name="birth_month" type="text" value="%value:birth_month%" style="width : 30px" maxlength="2"%tip:month% /> /
				<input name="birth_day" type="text" value="%value:birth_day%" style="width : 30px" maxlength="2"%tip:day% />
			</td>
		</tr>

		<tr>
			<th><strong>%string:mail_main%</strong></th>
			<td><input name="mail_main" type="text" style="width : 100%" value="%value:mail_main%" /></td>
		</tr>

		<tr>
			<th><strong>%string:mail_mobile%</strong></th>
			<td><input name="mail_mobile" type="text" style="width : 100%" value="%value:mail_mobile%" /></td>
		</tr>

		<tr>
			<th><strong>%string:mail_alt%</strong></th>
			<td><input name="mail_alt" type="text" style="width : 100%" value="%value:mail_alt%" /></td>
		</tr>

		<tr>
			<th><strong>%string:web%</strong></th>
			<td><input name="web" type="text" style="width : 100%" value="%value:web%" /></td>
		</tr>

		<tr>
			<th><strong>%string:mobile%</strong></th>
			<td><input name="mobile" type="text" style="width : 100%" value="%value:mobile%" /></td></tr>
		</tr>

		<tr>
			<th><strong>%string:phone%</strong></th>
			<td><input name="phone" type="text" style="width : 100%" value="%value:phone%" /></td></tr>
		</tr>

		<tr>
			<th><strong>%string:address%</strong></th>
			<td><textarea style="width : 100%" name="address" rows="3">%value:address%</textarea></td></tr>
		</tr>

		<tr>
			<th><strong>%string:note%</strong></th>
			<td><textarea style="width : 100%" name="note" rows="3">%value:note%</textarea></td></tr>
		</tr>

		<tr>
			<th style="border-bottom : 1px #333 dotted"><strong>%string:group%</strong></th>
			<td><select id="%id%_edit_group_%value:id%" name="groups"></select></td></tr>
		</tr>

		<tr>
			<td colspan="2" style="text-align : center">
				<input type="submit" style="width : auto" value="%string:save%" />

				<input id="%id%_edit_delete_%value:id%" style="width : auto" onclick="%top%.%id%.item.remove(%value:id%)" type="button" value="%string:delete%" />
				<input name="cancel" onclick="%top%.%id%.gui.close(%value:id%)" style="width : auto" type="button" value="%string:close%" />
			</td>
		</tr>
	</tbody></table>
</form>
