<table id="%id%_main" cellpadding="0" cellspacing="0" border="1" class="%system%_full"><tbody class="%system%_full">
	<tr>
		<td rowspan="4" style="width : 25%; height : 100%">
			<div id="%id%_list" class="%system%_full"%lock%></div>
		</td>
		<td style="text-align : right; padding : 5px">
			<span id="%id%_list_title" class="%id%_title"></span>
			<label for="%id%_thread_read">%string:read% : <input id="%id%_thread_read" type="checkbox" name="thread_read" /></label>
			%string:search% : <input type="text" name="thread_search" />
		</td>
	</tr>
	<tr>
		<td style="width : 75%; height : 30%">
			<div id="%id%_thread" class="%system%_full"%lock%></div>
		</td>
	</tr>
	<tr>
		<td style="text-align : right; padding : 5px">
			<span id="%id%_message_title" class="%id%_title"></span>
			%string:search% : <input type="text" name="message_search" />
		</td>
	</tr>
	<tr>
		<td style="width : 75%; height : 60%">
			<div id="%id%_message" class="%system%_full"%lock%></div>
		</td>
	</tr>
</tbody></table>
