<form id="%id%_form" style="margin : 10px 0px" onsubmit="%top%.%id%.gui.filter()">
	<p><strong>%string:display%</strong>
		[%string:account% :
		<select id="%id%_account" onchange="%top%.%id%.account.change(this.value)"%tip:account%></select>]

		[%string:order% :
		<select name="order" onchange="%top%.%id%.item.update()">
			<option value="sent">%string:sent%</option>
			<option value="subject">%string:subject%</option>
			<option value="from">%string:from%</option>
			<option value="to">%string:to%</option>
		</select>

		<label for="%id%_reverse">
			<input id="%id%_reverse" type="checkbox" name="reverse" onclick="%top%.%id%.item.update()" checked="checked" /> %string:reverse%
		</label>]

		[%string:page% : <span id="%id%_paging"><select id="%id%_show"><option>1</option></select> / 1</span>]
	</p>

	<p class="%id%_filter"><strong>%string:filter%</strong>
		[%string:state% :
		<label for="%id%_marked"%tip:marked%>
			<input type="checkbox" id="%id%_marked" onclick="%top%.%id%.gui.filter()" name="marked"> %string:marked%
		</label>

		<label for="%id%_unread"%tip:unread%>
			<input type="checkbox" id="%id%_unread" onclick="%top%.%id%.gui.filter()" name="unread"> %string:unread%
		</label>]

		[<span%tip:search% style="cursor : help">%string:search% : <input type="text" name="search" style="width : 120px" />]
		<input type="submit" style="display : none" /></span>
	</p>
</form>

<div id="%id%_pane_read"><table style="width : 100%"><tbody><tr>
	<td style="width : 20%; vertical-align : top"><div id="%id%_folder"%scroll%></td>

	<td style="width : 80%; vertical-align : top"><div style="overflow : auto; height : 300px; border : 1px #333 solid"%scroll%>
		<table cellpadding="5" cellspacing="0" border="1" id="%id%_read_zone"%lock%><tbody id="%id%_read_mail"></tbody></table>
	</div></td>
</tr></tbody></table></div>

<div id="%id%_pane_compose" class="%system%_hidden">
	<form id="%id%_form" onsubmit="return %top%.%id%.item.preview(this)">
		<table style="width: 100%"><tbody>
			<tr>
				<td style="text-align: right; width: 50px">%string:to%</td>
				<td><input type="text" name="to" style="width: 100%" /></td>
			</tr>
			<tr>
				<td style="vertical-align: top; text-align: right">%string:message%</td>
				<td><textarea name="body" rows="10" style="width: 100%"></textarea></td>
			</tr>
		</table>

		<p style="text-align: center">
			<input type="submit" class="%system%_flat" style="padding: 5px; width: 300px" value="%string:preview%" />
		</p>
	</form>

	<div id="%id%_compose_preview" class="%system%_hidden">
		<p>%string:to% : <span id="%id%_compose_to"></span></p>

		<p>%string:cc% : <span id="%id%_compose_cc"></span></p>

		<p>%string:message% : <span id="%id%_compose_body"></span></p>

		<p><form>
			<input value="%string:edit%" type="button" onclick="%top%.%id%.item.edit()" />
			<input value="%string:send%" type="button" onclick="%top%.%id%.item.send()" />
		</form></p>
	</div>
</div>
