<form id="%id%_conf_form" style="text-align : left" onsubmit="return %top%.%id%.conf.set(this)">
	<p>
		%string:account% :
		<select name="account" onchange="%top%.%id%.conf.change(this.value)"><option value="0">(%string:new%)</option></select>
		(* %string:required%)
	</p>

	<table style="width : 100%" cellpadding="10" cellspacing="0"><tbody id="%id%_conf_account">
		<tr><th colspan="2">%string:basic%</th></tr>

		<tr>
			<td class="%id%_conf_row">%string:default%</td>
			<td>
				<label for="%id%_conf_default_yes"><input id="%id%_conf_default_yes" type="radio" name="base" value="1" /> %string:yes%</label>
				<label for="%id%_conf_default_no"><input id="%id%_conf_default_no" type="radio" name="base" value="0" checked="checked" /> %string:no%</label>
			</td>
		</tr>

		<tr>
			<td class="%id%_conf_row">* %string:description%</td>
			<td><input style="width : 200px" type="text" name="description" /></td>
		</tr>

		<tr>
			<td class="%id%_conf_row">* %string:name%</td>
			<td><input style="width : 200px" type="text" name="name" /></td>
		</tr>

		<tr>
			<td class="%id%_conf_row">* %string:address%</td>
			<td><input style="width : 200px" type="text" name="address" /></td>
		</tr>

		<tr>
			<td class="%id%_conf_row">%string:signature% (%string:max%)</td>
			<td><textarea onkeydown="return %top%.%id%.conf.max(this)" name="signature" style="width : 250px" rows="3"></textarea></td>
		</tr>

		<tr><th colspan="2">%string:receive%</th></tr>

		<tr>
			<td class="%id%_conf_row">%string:type%</td>
			<td>
				<select name="receive_type" onchange="%top%.%id%.conf.type(this.value)">
					<option value="imap">IMAP</option>
					<option value="pop3">POP</option>
					<option value="gmail">Gmail</option>
					<option value="hotmail">Hotmail</option>
				</select>
			</td>
		</tr>

		<tr class="%id%_conf_detail">
			<td class="%id%_conf_row">* %string:server% / %string:port%</td>
			<td>
				<input type="text" style="width : 150px" name="receive_host" /> /
				<input type="text" name="receive_port" style="width : 50px" value="143" maxlength="5" />

				<label for="%id%_secure_receive"%tip:secure%>
					<input id="%id%_secure_receive" type="checkbox" name="receive_secure" onclick="%top%.%id%.conf.port('receive')" value="1" /> %string:secure% (SSL)
				</label>
			</td>
		</tr>

		<tr class="%id%_conf_detail">
			<td class="%id%_conf_row">%string:user%</td>
			<td><input type="text" style="width : 150px" name="receive_user" /></td>
		</tr>

		<tr>
			<td class="%id%_conf_row">%string:pass%</td>
			<td><input type="password" style="width : 150px" name="receive_pass" /></td>
		</tr>

		<!--<tr class="%id%_conf_pop3 %system%_hidden">
			<td class="%id%_conf_row">%string:keep%</td>
			<td%tip:leave%>
				<label for="%id%_conf_keep">
					<input id="%id%_conf_keep" type="checkbox" name="receive_keep" onclick="%top%.%id%.conf.keep(this.checked)" checked="checked" value="1" />
					%string:leave%
				</label>

				(<input id="%id%_conf_duration" type="text" style="width : 50px" name="receive_duration" /> %string:days%)
			</td>
		</tr>-->

		<tr class="%id%_conf_detail"><th colspan="2">%string:send%</th></tr>

		<tr class="%id%_conf_detail">
			<td class="%id%_conf_row">* %string:server% / %string:port%</td>
			<td>
				<input type="text" style="width : 150px" name="send_host" /> /
				<input type="text" name="send_port" style="width : 50px" maxlength="5" value="25" />

				<label for="%id%_secure_send"%tip:secure%>
					<input id="%id%_secure_send" type="checkbox" name="send_secure" onclick="%top%.%id%.conf.port('send')" value="1" /> %string:secure% (SSL)
				</label>
			</td>
		</tr>

		<tr class="%id%_conf_detail">
			<td class="%id%_conf_row">%string:user%</td>
			<td><input type="text" style="width : 150px" name="send_user" /></td>
		</tr>

		<tr class="%id%_conf_detail">
			<td class="%id%_conf_row">%string:pass%</td>
			<td><input type="password" style="width : 150px" name="send_pass" /></td>
		</tr>

		<tr>
			<td colspan="2" style="text-align : center">
				<p id="%id%_conf_saving" class="%system%_hidden">%string:saving%</p>

				<p>
					<input type="submit" class="%system%_flat" value="%string:save%" />
					<input type="button" class="%system%_flat %system%_hidden" value="%string:delete%" id="%id%_conf_remove" onclick="%top%.%id%.conf.terminate()" />
				</p>
			</td>
		</tr>
	</tbody></table>
</form>
