<p>account : <select></select></p>

<table><tbody>
	<tr><th colspan="2">%string:folder%</th></tr>

	<tr>
		<td class="%id%_conf_row">%string:draft%</td>
		<td><select name="folder_drafts"></select></td>
	</tr>

	<tr>
		<td class="%id%_conf_row">%string:sent%</td>
		<td><select name="folder_sent"></select></td>
	</tr>

	<tr>
		<td class="%id%_conf_row">%string:trash%</td>
		<td><select name="folder_trash"></select></td>
	</tr>
</tbody></table>

<table><tbody>
	<tr>
		<td>list of folders</td>
		<td>
			<p><input type="button" value="delete" /></p>
			<p>rename : <input type="text" /></p>
			<p>move : <select></select></p>
		</td>
	</tr>
</tbody></table>
