<form onsubmit="return %top%.%id%.feed.add(this.address)">
	<h2 style="background-color : #567; color : #fff">%string:add%</h2>

	<p>
		%string:feed% : <input type="text" style="width : 250px" name="address" />
		<input type="submit" value="%string:add%" />
	</p>

	<p>
		<a style="cursor : help" onclick="%top%.%system%.conf.swap('%id%', 'manual'); %top%.%system%.conf.flip('%id%', 'manual', '_2_add')">%string:what%</a>
	</p>
</form>

<form style="border-top : 1px #333 dotted" onsubmit="return %top%.%id%.feed.remove(this.feed.value)">
	<h2 style="background-color : #567; color : #fff">%string:delete%</h2>

	<select id="%id%_delete_item" name="feed"></select>
	<input type="submit" value="%string:delete%" />
</form>

